In [77]:
# Dependecies
import numpy as np
import pandas as pd

In [78]:
schools_in_georgia_df = pd.read_csv('static/Schools_in_the_State_of_Georgia_2019 (1).csv')

In [79]:
schools_in_georgia_df.head()

,X,Y,OBJECTID,SysSchool,GradeRange,SchoolAddress,SchoolCity,STATE,SchoolZipCode,MailAddress,...,chpProfPlusEcon,chpProfPlusGeometry,chpProfPlusLit9,chpProfPlusPhysSci,chpProfPlusUSHistory,GlobalID,created_user,created_date,last_edited_user,last_edited_date
0,-82.354647,31.757897,1,6010103,09-12,482 Blackshear Hwy,Baxley,GA,31513-6708,482 Blackshear Hwy,...,4.0,NaN,15.0,9.0,-5.0,{BB3E5328-E6E4-4D7F-9CD5-FD8409118623},opendata@arc,2020/03/25 03:24:58,opendata@arc,2020/03/25 03:24:58
1,-82.354210,31.754556,2,6010177,03-05,680 Blackshear Hwy,Baxley,GA,31513-6709,680 Blackshear Hwy,...,NaN,NaN,NaN,NaN,NaN,{46A257DC-82D3-4FFA-BB11-F0F6D5CEABE3},opendata@arc,2020/03/25 03:24:58,opendata@arc,2020/03/25 03:24:58
2,-82.339764,31.723127,3,6010195,06-08,2997 Blackshear Hwy,Baxley,GA,31513-4303,2997 Blackshear Hwy,...,NaN,NaN,NaN,NaN,NaN,{0B4B625E-B016-4743-9DFE-FFB653A4DD13},opendata@arc,2020/03/25 03:24:58,opendata@arc,2020/03/25 03:24:58
3,-82.354171,31.754721,4,6010277,PK-02,678 Blackshear Hwy,Baxley,GA,31513-6709,678 Blackshear Hwy,...,NaN,NaN,NaN,NaN,NaN,{62359F96-2E49-424E-8D49-B050A999A3E1},opendata@arc,2020/03/25 03:24:58,opendata@arc,2020/03/25 03:24:58
4,-82.361795,31.876136,5,6011050,PK-05,344 Altamaha School Rd,Baxley,GA,31513-2670,344 Altamaha School Rd,...,NaN,NaN,NaN,NaN,NaN,{5EC49053-71B0-421A-89A0-3745645B058B},opendata@arc,2020/03/25 03:24:58,opendata@arc,2020/03/25 03:24:58

In [80]:
locationtable_df = schools_in_georgia_df[['SchoolID','longitude','latitude','SchoolAddress','SchoolCity','STATE','SchoolZipCode']]
locationtable_df.drop_duplicates()
locationtable_df.columns = ['School ID', 'Longitude', 'Latitude', 'School Address', 'SchoolCity', 'State', 'School Zip Code']
locationtable_df.set_index('School ID', inplace = True)
locationtable_df.head()

,Longitude,Latitude,School Address,SchoolCity,State,School Zip Code
School ID,,,,,,
103,-82.354643,31.757891,482 Blackshear Hwy,Baxley,GA,31513-6708
177,-82.354206,31.754550,680 Blackshear Hwy,Baxley,GA,31513-6709
195,-82.339760,31.723121,2997 Blackshear Hwy,Baxley,GA,31513-4303
277,-82.354167,31.754715,678 Blackshear Hwy,Baxley,GA,31513-6709
1050,-82.361791,31.876130,344 Altamaha School Rd,Baxley,GA,31513-2670

In [82]:
printable_df = schools_in_georgia_df[['SchoolID','PrincipalName','PrincipalEmail']]
printable_df.columns = ['School ID', 'Principal Name', 'Principal Email']
printable_df.drop_duplicates()
printable_df['Principal Name'] = printable_df['Principal Name'].str.split(', ').str[::-1].str.join(' ')
printable_df.set_index('School ID', inplace = True)
printable_df.head()

<ipython-input-82-9abf56accbd6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  printable_df['Principal Name'] = printable_df['Principal Name'].str.split(', ').str[::-1].str.join(' ')

           Principal Name                   Principal Email
School ID
103         Gene A. Starr          gstarr@appling.k12.ga.us
177          Debra Crosby    debra.crosby@appling.k12.ga.us
195        Cathy Campbell  Cathy.Campbell@appling.k12.ga.us
277         Cindy Stewart    Shelly.Roppe@appling.k12.ga.us
1050        Rhonda Hollis   rhonda.hollis@appling.k12.ga.us

In [85]:
schooltable_df = schools_in_georgia_df[['SchoolID','SchoolName','SystemID',
                                        'Type','SchoolPhone','ENROLLMENT_COUNT',
                                        'TeacherCount','pYrsLt1','pYears1_10',
                                        'pYears11_20','pYears21_30','pYearsGt30']]
schooltable_df.drop_duplicates()
schooltable_df.columns = ['School ID', 'School Name','System ID',
                          'Type','School Phone','Enrollment Count',
                          'Teacher Count','Teachers Less Than 1 Year Experience (%)',
                          'Teachers Between 1 and 10 Years Experience (%)',
                          'Teachers Between 11 and 20 Years Experience (%)',
                          'Teachers Between 21 and 30 Years Experience (%)',
                          'Teachers Greater Than 30 Years Experience (%)']

schooltable_df['School Name'].replace(',','', regex=True, inplace=True)
schooltable_df.set_index('School ID', inplace = True)
schooltable_df.head()

/Users/jameswilliams/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,School Name,System ID,Type,School Phone,Enrollment Count,Teacher Count,Teachers Less Than 1 Year Experience (%),Teachers Between 1 and 10 Years Experience (%),Teachers Between 11 and 20 Years Experience (%),Teachers Between 21 and 30 Years Experience (%),Teachers Greater Than 30 Years Experience (%)
School ID,,,,,,,,,,,
103,Appling County High School,601,High School,912.367.8610,970.0,59.0,0.0,29.0,32.0,31.0,9.0
177,Appling County Elementary School,601,Elementary School,912.367.8640,551.0,45.0,2.0,24.0,47.0,20.0,7.0
195,Appling County Middle School,601,Middle School,912.367.8630,795.0,57.0,7.0,33.0,33.0,23.0,4.0
277,Appling County Primary School,601,Elementary School,912.367.8642,516.0,50.0,6.0,26.0,34.0,32.0,2.0
1050,Altamaha Elementary School,601,Elementary School,912.367.3713,378.0,29.0,0.0,21.0,48.0,24.0,7.0

In [86]:
systemtable_df = pd.DataFrame()
system_name = schools_in_georgia_df['SystemName'].unique()
system_id = schools_in_georgia_df['SystemID'].unique()
systemtable_df['System ID'] = system_id
systemtable_df['System Name'] = system_name
systemtable_df['System Name'].replace(',','', regex=True, inplace=True)
systemtable_df.set_index('System ID', inplace = True)
systemtable_df.head()

               System Name
System ID
601         Appling County
602        Atkinson County
603           Bacon County
604           Baker County
605         Baldwin County

In [87]:
locationtable_df.to_csv ('static/locationtable.csv', index = True, header=True)
printable_df.to_csv ('static/printable.csv', index = True, header=True)
schooltable_df.to_csv ('static/schooltable.csv', index = True, header=True)
systemtable_df.to_csv ('static/systemtable.csv', index = True, header=True)