In [27]:
# Dependecies
import numpy as np
import pandas as pd

In [28]:
schools_in_georgia_df = pd.read_csv('static/Schools_in_the_State_of_Georgia_2019 (1).csv')
schools_in_georgia_df = schools_in_georgia_df[['OBJECTID','longitude','latitude','SchoolAddress','SchoolCity','STATE','SchoolZipCode',
                         'PrincipalName','PrincipalEmail', 'SchoolID','SchoolName','SystemID',
                                        'Type','SchoolPhone','ENROLLMENT_COUNT',
                                        'TeacherCount','pYrsLt1','pYears1_10',
                                        'pYears11_20','pYears21_30','pYearsGt30', 'SystemName']]
schools_in_georgia_df = schools_in_georgia_df.dropna()

In [30]:
locationtable_df = schools_in_georgia_df[['OBJECTID','longitude','latitude','SchoolAddress','SchoolCity','STATE','SchoolZipCode']]
locationtable_df.drop_duplicates()
locationtable_df.columns = ['ID', 'Longitude', 'Latitude', 'School Address', 'SchoolCity', 'State', 'School Zip Code']
locationtable_df.set_index('ID', inplace = True)
locationtable_df

,Longitude,Latitude,School Address,SchoolCity,State,School Zip Code
ID,,,,,,
1,-82.354643,31.757891,482 Blackshear Hwy,Baxley,GA,31513-6708
2,-82.354206,31.754550,680 Blackshear Hwy,Baxley,GA,31513-6709
3,-82.339760,31.723121,2997 Blackshear Hwy,Baxley,GA,31513-4303
4,-82.354167,31.754715,678 Blackshear Hwy,Baxley,GA,31513-6709
5,-82.361791,31.876130,344 Altamaha School Rd,Baxley,GA,31513-2670
...,...,...,...,...,...,...
2270,-82.398540,32.221062,800 North St E,Vidalia,GA,30474-4047
2271,-82.403168,32.205423,205 Waters Dr,Vidalia,GA,30474-4411
2272,-84.239995,33.802570,890 N Indian Creek Dr,Clarkston,GA,30021-2228
2273,-83.668877,32.847522,2895 Vineville Ave,Macon,GA,31204-2831
2274,-85.349041,34.096023,232 Perry Farm Rd SW,Cave Spring,GA,30124-3018

In [36]:
printable_df = schools_in_georgia_df[['OBJECTID','PrincipalName','PrincipalEmail']]
printable_df.columns = ['ID', 'Principal Name', 'Principal Email']
printable_df.drop_duplicates()
printable_df['Principal Name'] = printable_df['Principal Name'].str.split(', ').str[::-1].str.join(' ')
printable_df.set_index('ID', inplace = True)
printable_df

<ipython-input-36-dd368bf146c3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  printable_df['Principal Name'] = printable_df['Principal Name'].str.split(', ').str[::-1].str.join(' ')

      Principal Name                   Principal Email
ID
1      Gene A. Starr          gstarr@appling.k12.ga.us
2       Debra Crosby    debra.crosby@appling.k12.ga.us
3     Cathy Campbell  Cathy.Campbell@appling.k12.ga.us
4      Cindy Stewart    Shelly.Roppe@appling.k12.ga.us
5      Rhonda Hollis   rhonda.hollis@appling.k12.ga.us
...              ...                               ...
2270   Brenda McLain
2271  Scott Stephens
2272    John Serrano
2273    Cindy Gibson             cgibson@doe.k12.ga.us
2274  Leslie Jackson           LeJackson@doe.k12.ga.us

[2246 rows x 2 columns]

In [32]:
schooltable_df = schools_in_georgia_df[['OBJECTID','SchoolName','SystemID',
                                        'Type','SchoolPhone','ENROLLMENT_COUNT',
                                        'TeacherCount','pYrsLt1','pYears1_10',
                                        'pYears11_20','pYears21_30','pYearsGt30']]
schooltable_df.drop_duplicates()
schooltable_df.columns = ['ID', 'School Name','System ID',
                          'Type','School Phone','Enrollment Count',
                          'Teacher Count','Teachers Less Than 1 Year Experience (%)',
                          'Teachers Between 1 and 10 Years Experience (%)',
                          'Teachers Between 11 and 20 Years Experience (%)',
                          'Teachers Between 21 and 30 Years Experience (%)',
                          'Teachers Greater Than 30 Years Experience (%)']

schooltable_df['School Name'].replace(',','', regex=True, inplace=True)
schooltable_df.set_index('ID', inplace = True)
schooltable_df

/Users/jameswilliams/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,School Name,System ID,Type,School Phone,Enrollment Count,Teacher Count,Teachers Less Than 1 Year Experience (%),Teachers Between 1 and 10 Years Experience (%),Teachers Between 11 and 20 Years Experience (%),Teachers Between 21 and 30 Years Experience (%),Teachers Greater Than 30 Years Experience (%)
ID,,,,,,,,,,,
1,Appling County High School,601,High School,912.367.8610,970.0,59.0,0.0,29.0,32.0,31.0,9.0
2,Appling County Elementary School,601,Elementary School,912.367.8640,551.0,45.0,2.0,24.0,47.0,20.0,7.0
3,Appling County Middle School,601,Middle School,912.367.8630,795.0,57.0,7.0,33.0,33.0,23.0,4.0
4,Appling County Primary School,601,Elementary School,912.367.8642,516.0,50.0,6.0,26.0,34.0,32.0,2.0
5,Altamaha Elementary School,601,Elementary School,912.367.3713,378.0,29.0,0.0,21.0,48.0,24.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...
2270,J. D. Dickerson Primary School,793,Elementary School,912.537.3421,359.0,37.0,5.0,24.0,24.0,35.0,11.0
2271,Sally Dailey Meadows Elementary School,793,Elementary School,912.537.4755,762.0,55.0,7.0,35.0,31.0,22.0,6.0
2272,Atlanta Area School for the Deaf,799,K12,404.298.4868,166.0,43.0,0.0,74.0,19.0,7.0,0.0
2273,Georgia Academy for the Blind,799,K12,478.751.6083,96.0,36.0,0.0,39.0,31.0,28.0,3.0
2274,Georgia School for the Deaf,799,K12,706.777.2200,69.0,20.0,15.0,25.0,50.0,10.0,0.0

In [33]:
systemtable_df = pd.DataFrame()
system_name = schools_in_georgia_df['SystemName'].unique()
system_id = schools_in_georgia_df['SystemID'].unique()
systemtable_df['System ID'] = system_id
systemtable_df['System Name'] = system_name
systemtable_df['System Name'].replace(',','', regex=True, inplace=True)
systemtable_df.set_index('System ID', inplace = True)
systemtable_df.head()

               System Name
System ID
601         Appling County
602        Atkinson County
603           Bacon County
604           Baker County
605         Baldwin County

In [35]:
locationtable_df.to_csv ('static/locationtable.csv', index = True, header=True)
printable_df.to_csv ('static/printable.csv', index = True, header=True)
schooltable_df.to_csv ('static/schooltable.csv', index = True, header=True)
systemtable_df.to_csv ('static/systemtable.csv', index = True, header=True)