In [139]:
# Dependecies
import numpy as np
import pandas as pd

In [140]:
schools_in_georgia_df = pd.read_csv('static/Schools_in_the_State_of_Georgia_2019 (1).csv', na_filter=False)
schools_in_georgia_df = pd.read_csv('static/Schools_in_the_State_of_Georgia_2019 (1).csv')
schools_in_georgia_df = schools_in_georgia_df[['SchoolID','longitude','latitude','SchoolAddress','SchoolCity','STATE','SchoolZipCode',
                         'PrincipalName','PrincipalEmail', 'OBJECTID','SchoolName','SystemID',
                                        'Type','SchoolPhone','ENROLLMENT_COUNT',
                                        'TeacherCount','pYrsLt1','pYears1_10',
                                        'pYears11_20','pYears21_30','pYearsGt30', 'SystemName']]

In [141]:
schools_in_georgia_df = schools_in_georgia_df.dropna()
schools_in_georgia_df.count()

SchoolID            2246
longitude           2246
latitude            2246
SchoolAddress       2246
SchoolCity          2246
STATE               2246
SchoolZipCode       2246
PrincipalName       2246
PrincipalEmail      2246
OBJECTID            2246
SchoolName          2246
SystemID            2246
Type                2246
SchoolPhone         2246
ENROLLMENT_COUNT    2246
TeacherCount        2246
pYrsLt1             2246
pYears1_10          2246
pYears11_20         2246
pYears21_30         2246
pYearsGt30          2246
SystemName          2246
dtype: int64

In [155]:
locationtable_df = schools_in_georgia_df[['OBJECTID','longitude','latitude','SchoolAddress','SchoolCity','STATE','SchoolZipCode']]
locationtable_df.drop_duplicates()
locationtable_df.columns = ['ID', 'Longitude', 'Latitude', 'School Address', 'SchoolCity', 'State', 'School Zip Code']
locationtable_df['School Address'].replace(',', '', inplace=True, regex=True)
locationtable_df.set_index('ID', inplace = True)
locationtable_df.head()

,Longitude,Latitude,School Address,SchoolCity,State,School Zip Code
ID,,,,,,
1,-82.354643,31.757891,482 Blackshear Hwy,Baxley,GA,31513-6708
2,-82.354206,31.754550,680 Blackshear Hwy,Baxley,GA,31513-6709
3,-82.339760,31.723121,2997 Blackshear Hwy,Baxley,GA,31513-4303
4,-82.354167,31.754715,678 Blackshear Hwy,Baxley,GA,31513-6709
5,-82.361791,31.876130,344 Altamaha School Rd,Baxley,GA,31513-2670

In [156]:
printable_df = schools_in_georgia_df[['OBJECTID','PrincipalName','PrincipalEmail']]
printable_df.columns = ['ID', 'Principal Name', 'Principal Email']
printable_df.drop_duplicates()
printable_df['Principal Name'] = printable_df['Principal Name'].str.split(', ').str[::-1].str.join(' ')
printable_df['Principal Name'].replace(',', 'No Name Provided', inplace=True, regex=True)
printable_df['Principal Email'].replace(',', '.', inplace=True, regex=True)
printable_df.set_index('ID', inplace = True)
printable_df.head()

    Principal Name                   Principal Email
ID
1    Gene A. Starr          gstarr@appling.k12.ga.us
2     Debra Crosby    debra.crosby@appling.k12.ga.us
3   Cathy Campbell  Cathy.Campbell@appling.k12.ga.us
4    Cindy Stewart    Shelly.Roppe@appling.k12.ga.us
5    Rhonda Hollis   rhonda.hollis@appling.k12.ga.us

In [157]:
schooltable_df = schools_in_georgia_df[['OBJECTID','SchoolName','SystemID',
                                        'Type','SchoolPhone','ENROLLMENT_COUNT',
                                        'TeacherCount','pYrsLt1','pYears1_10',
                                        'pYears11_20','pYears21_30','pYearsGt30']]
schooltable_df.drop_duplicates()
schooltable_df.columns = ['ID', 'School Name','System ID',
                          'Type','School Phone','Enrollment Count',
                          'Teacher Count','Teachers Less Than 1 Year Experience (%)',
                          'Teachers Between 1 and 10 Years Experience (%)',
                          'Teachers Between 11 and 20 Years Experience (%)',
                          'Teachers Between 21 and 30 Years Experience (%)',
                          'Teachers Greater Than 30 Years Experience (%)']

schooltable_df['School Name'].replace(',','', regex=True, inplace=True)
schooltable_df.set_index('ID', inplace = True)
schooltable_df.head()

,School Name,System ID,Type,School Phone,Enrollment Count,Teacher Count,Teachers Less Than 1 Year Experience (%),Teachers Between 1 and 10 Years Experience (%),Teachers Between 11 and 20 Years Experience (%),Teachers Between 21 and 30 Years Experience (%),Teachers Greater Than 30 Years Experience (%)
ID,,,,,,,,,,,
1,Appling County High School,601,High School,912.367.8610,970.0,59.0,0.0,29.0,32.0,31.0,9.0
2,Appling County Elementary School,601,Elementary School,912.367.8640,551.0,45.0,2.0,24.0,47.0,20.0,7.0
3,Appling County Middle School,601,Middle School,912.367.8630,795.0,57.0,7.0,33.0,33.0,23.0,4.0
4,Appling County Primary School,601,Elementary School,912.367.8642,516.0,50.0,6.0,26.0,34.0,32.0,2.0
5,Altamaha Elementary School,601,Elementary School,912.367.3713,378.0,29.0,0.0,21.0,48.0,24.0,7.0

In [158]:
systemtable_df = pd.DataFrame()
system_name = schools_in_georgia_df['SystemName'].unique()
system_id = schools_in_georgia_df['SystemID'].unique()
systemtable_df['System ID'] = system_id
systemtable_df['System Name'] = system_name
systemtable_df['System Name'].replace(',','', regex=True, inplace=True)
systemtable_df.set_index('System ID', inplace = True)
systemtable_df.head()

               System Name
System ID
601         Appling County
602        Atkinson County
603           Bacon County
604           Baker County
605         Baldwin County

In [159]:
locationtable_df.to_csv ('static/locationtable.csv', index = True, header=True)
printable_df.to_csv ('static/printable.csv', index = True, header=True)
schooltable_df.to_csv ('static/schooltable.csv', index = True, header=True)
systemtable_df.to_csv ('static/systemtable.csv', index = True, header=True)